

button.hoverna{
    border: 2px solid #f9ad30;
    border-radius: 8px;
    background-color: #ffefd6;
    margin-right: 15px;
}

button.hoverna:hover{
    border: 2px solid #00367d;
}

.carousel-inner{
    height: 700px;
}
.fila{
    display: flex;
    align-items: stretch !important;
}

.colorG{
    background-color: rgb(208, 226, 208);
}
.colorH{
    background-color: rgb(248, 247, 188);
}
.colorHa{
    background-color: rgb(198, 198, 228);
}

/*h4{
    color: #f9ad30 !important;
    border: 2px solid;
}*/

.h2{
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
}

.icono{
    font-size: 50px;
}
.tamaño{
    height: auto;
    width: 50%;
}

.boton{
    margin-top: 15px;
    border: 2px solid #00367d !important;
    background-color: #ffefd6 !important;
    color: black !important;
}
.boton:hover{
    border: 2px solid #f9ad30 !important;
}


/*.estilosForm{
    text-align: center;
    background-color: rgb(167, 166, 166);
    /*border: 1px solid #f9ad30;*/

   
.contenedor{
    width: 50%;
    height: auto;
    margin: auto;
    /*background-color: #f9ad30;*/
    text-align: center;
}
footer{
    background-color: antiquewhite;
}